
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}
h3{
  color:#929aab;
font-size: 1.5rem;}

p {
  color: #8f8f8f;
}
.x2{
  font-size: 3rem;
    font-family: "Montserrat-Bold";
}
.navbar-toggler {
  color: white;
}
#navbarTogglerDemo02{
  background-color: #84a9ac;
  color: black;
}
.xyz{
  padding-bottom: 40px;
    background-color: #e3f6f5
}
.big-heading {
  font-family: "Montserrat-Black";

}
.x1{
  text-align: center;
  padding-top: 25px;
}
.navbar-custom {
    background-color: #e3f6f5;
}
.yoga{
  width: 75px;
  height: 80px;
}
/* Navigation Bar */

.navbar {
  padding-right: 20px;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
b{
  position: absolute;
  top: 80px;
  left: 140px;
  font-size: 2rem;
}


.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color:black;
}
button{
  width: 150px;
  border-radius: 8px;
}

#navbarTogglerDemo02{
  color: black;
}
.x4{
  height: 200px;
  border-radius: 50%;

}
/* CTA Section */
.title-image {

  height: 300px;;

  }
  .title-image1 {

    height: 200px;;

    }
.x6{
  font-size: 3rem;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
  #features {
    position: relative;
      text-align: center;

  }
  .sp{
    background-color: #3b6978
  }
  .tp{
    background-color: #e3f6f5
  }
  #features1 {
    position: relative;
      text-align: center;
    background-color: white;
  }
  .container-fluid{
    padding: 7% 15%;
  }

.x17{
  background-color: #e3f6f5;
  padding-top: 20px;
  padding-bottom: 10px;
}
.x8{

  text-align: left;
}

.x9{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;

}
.x7{
  height: auto;
  width: 100%;
}
.x14{
  height: auto;
  width: 100%;
}
.x11{
  text-align: center;
}
.x12{
  text-align:center;
}
.x13{
  text-align: center;
}

.x10 {
  text-align:center;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

  .badge {
  height: 210px;
  width: 210px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: silver;
  border-color: black;
}
.img1{
  text-align: center;
  padding-left: 20px;
}
.x15{
  height: 170px;
  padding-bottom: 20px;
}
.x16{
  text-align: center;

}
.x17{
  text-align: center;
}



.home-newsletter {
padding: 80px 0;
background: #357376;
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px;
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}
.site-footer
{
  background-color:#e3f6f5;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.fp{
  background-color: #e3f6f5;
}
.last{
  text-align: center;
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }


}
